:root {
  /* Dark theme colors (default) */
  --background: #171717;
  --background-secondary: #797979;
  --background-third: #262626;
  --text-primary: #ffffff;
  --text-secondary: #8b8b8b;
  --shadow-color: rgba(194, 141, 255, 0.5);
  --shadow-color-hover: rgba(141, 255, 160, 0.3);
  --button-bg: #171717;
  --button-hover: #382a57;
  --border-hover: rgb(0, 255, 102, 0.5);
  
  /* Card gradients for dark theme */
  --card-gradient-1: rgb(94, 0, 201);
  --card-gradient-2: rgb(157, 72, 254);
  --card-gradient-3: rgb(92, 0, 198);
  --card-gradient-4: rgb(65, 0, 138);
  --card-gradient-5: rgb(63, 21, 112);
  --card-gradient-6: rgb(39, 0, 83);
  --card-gradient-7: rgb(51, 0, 109);
  --card-gradient-8: rgb(35, 3, 57);
  
  --border-color: rgba(255, 255, 255, 0.1);
  --primary-color: #E63946;
}

:root.light {
  /* Light theme colors */
  --background: #fdf8e9;
  --background-secondary: #5e5e5e;
  --background-third: #646464;
  --text-primary: #000000;
  --text-secondary: #5d5d5d;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-color-hover: rgba(0, 0, 0, 0.5);
  --button-bg: #fbe3d0;
  --button-hover: #f5d4bc;
  --border-hover: rgb(255, 0, 0);
  
  /* Card gradients for light theme */
  --card-gradient-1: #baf5cb;
  --card-gradient-2: #A1E3F9;
  --card-gradient-3: #81abd8;
  --card-gradient-4: #3674B5;
  --card-gradient-5: #f5cd9e;
  --card-gradient-6: #e3abe1;
  --card-gradient-7: #99e8e3;
  --card-gradient-8: #f29696;
  
  --border-color: rgba(0, 0, 0, 0.1);
  --primary-color: #E63946;
} 