---
import Card from "../ui/Card/index.astro";
---

<Card colSpan="md:col-span-4" rowSpan="md:row-span-1" gradient={8}>
  <p class="text-xs">
    © 2024 · Crafted with ♥️ using <a
      href="https://astro.build/"
      target="_blank"
      class="text-red-500">Astro</a
    > by Judicael.
  </p>
</Card>