---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4" gradient={1}>
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-secondary">welcome</h6>
        <p class="m-0 font-light text-xl text-primary">
          Hi, I'm <b class="font-bold">Judicael TO</b>, a computer science student from the university of Saclay with strong <b class="font-bold">interest in data and machine learning.</b>
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank" class="transition-transform hover:scale-105">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank" class="transition-transform hover:scale-105">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <div class="transition-transform hover:scale-105">
          <Tooltip client:visible>
            <Button aria-label="easter egg btn">
              <Icon name="ri:emotion-laugh-line" class="h-6" />
              <span class="sr-only">Easter egg button</span>
            </Button>
          </Tooltip>
        </div>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/me.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none transition-opacity hover:opacity-95"
      alt="memoji of judicael"
    />
  </div>
</Card>

<style>
  .text-secondary {
    color: var(--text-secondary);
  }
  
  .text-primary {
    color: var(--text-primary);
  }
</style>
