---

---

<div
    class="glass-card col-span-1 md:col-span-1 md:row-span-1 bg-blue-100 dark:bg-blue-900/40 rounded-3xl overflow-hidden opacity-0 animate-drop-bounce delay-500 relative"
>
    <img
        src="https://assets.website-files.com/5e87e737ee7085b9ba02c47c/5e9704b9e480545c21144233_map-marker.svg"
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-8 h-8 z-10"
        alt="Pin"
    />
    <div
        class="w-full h-full bg-blue-200/50 absolute top-0 left-0 opacity-50 mix-blend-multiply"
    >
    </div>
    <p
        class="absolute bottom-4 left-4 font-bold text-xs bg-white/80 px-2 py-1 rounded-md"
    >
        Paris, FR
    </p>
</div>
