---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <main class="w-full">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>