---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<button
  class:list={[
    "custom-btn text-xl max-h-[50px] shadow-custom active:shadow-none active:translate-x-[3px] active:translate-y-[3px] px-5 py-2 border transition-all duration-200 ease-in-out cursor-pointer rounded-lg",
    className,
  ]}
  id={id}
>
  <slot />
</button>

<style>
  .custom-btn {
    background-color: var(--button-bg);
    color: var(--text-primary);
    border-color: var(--border-color);
    box-shadow: 3px 3px 0 var(--shadow-color);
  }

  .custom-btn:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
    box-shadow: 4px 4px 0 var(--shadow-color);
    color: var(--shadow-color);
  }

  .custom-btn:active {
    transform: translate(3px, 3px);
    box-shadow: none;
  }
</style>
